* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  border: 1px solid #f00;
  height: 100vh;
  width: 100%;
  background: #FFE600;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div.wrapper {
  position: relative;
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1.786rem;
}
body .nose {
  width: 0px;
  height: 0px;
  background: none;
  border-radius: 50%;
  border: 10px solid #000;
  border-width: 0.076rem 0.076rem 0.076rem 0.076rem;
  border-color: #000 transparent transparent;
  border-width: 10px 12px;
  border-width: 0.076rem 0.0912rem 0.076rem 0.0912rem;
  position: absolute;
  top: 0.2888rem;
  left: 50%;
  transform: translateX(-50%);
}
body .eye {
  width: 0.4788rem;
  height: 0.4788rem;
  position: absolute;
  background: #2e2e2e;
  border-radius: 50%;
  top: 0%;
  border: 3px solid #000;
  border-width: 0.0228rem 0.0228rem 0.0228rem 0.0228rem;
}
body .eye.left {
  right: 50%;
  margin-right: 0.608rem;
}
body .eye.right {
  left: 50%;
  margin-left: 0.608rem;
}
body .eye:before {
  content: '';
  width: 0.19rem;
  height: 0.19rem;
  background: #fff;
  border: 3px solid #000;
  border-width: 0.0228rem 0.0228rem 0.0228rem 0.0228rem;
  position: absolute;
  top: 0px;
  left: 0.0456rem;
  border-radius: 50%;
}
body .face {
  position: absolute;
  width: 0.6688rem;
  height: 0.6688rem;
  background: #f00;
  border: 3px solid #000;
  border-width: 0.0228rem 0.0228rem 0.0228rem 0.0228rem;
  border-radius: 50%;
  top: 0.836rem;
}
body .face.left {
  right: 50%;
  margin-right: 0.8664rem;
}
body .face.right {
  left: 50%;
  margin-left: 0.8664rem;
}
body .upperLip {
  position: absolute;
  border: 2px solid #000;
  width: 0.608rem;
  height: 0.152rem;
  border-radius: 20px 12px;
  border-top-color: #ffe600;
  border-right-color: #ffe600;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  transform: rotate(-20deg);
  background: #ffe600;
}
