
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
body{
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
}
#pre{
  flex: 1;
  overflow: auto;
}
#code{
  flex: 1;
}
.wrapper > :not(:last-child){
  z-index: 1;
}
.token.selector{
  color: #000;
}
.token.punctuation{
  color: #000;
}
.token.property{
  color: #000;
}
.token.function{
  color: #000;
}
#resume{
  display: none;
}